<body>
<p>
  <mat-toolbar style="background-color:#5BAEF3"> 
  
    <mat-icon style="color: #fff">menu</mat-icon>
     <span></span>  
    <mat-icon class="check_box" style="color: #fff">domain_verification</mat-icon> 
  <span> DigiAssess</span>
  <a>STUDENT PORTAL </a><mat-icon >keyboard_arrow_right</mat-icon>
  <a>DASHBOARD </a><mat-icon class="color_black">keyboard_arrow_right</mat-icon>
  <a style="color:#49ff85;">REMOTE EXAM</a>
  <span class="example-spacer"></span>
    
 <div class="column">
  <ul class="left">
    
     <li class="smalle">YOU ARE</li>
     <li class="biggy">STUDENT NAME<mat-icon style="padding-bottom:25px">expand_more</mat-icon></li>

    </ul>
  
 </div>
  <span></span>
  <span></span>
  
  <span>
 <mat-icon style="color:#49ff85;">circle</mat-icon></span>
  <span>
  <mat-icon>notifications</mat-icon></span>
 
</mat-toolbar>
</p>

<mat-card>
<div class="row">
 
   <p style="font-weight: bold;"><mat-icon style="font-size: 20px;">arrow_back</mat-icon>
  <span style="color:black">Current Exam:</span>
   MP-RT-2Y-MP2.0-3L-ABCD 213 Quiz 1 , Remote exam
   <span>
    <ul class="right">
      <li class="big">IBN SINA NATIONAL COLLEGE</li>
      <li class="small">AI-Mahjar.jeddah</li>
    </ul> 
    <img src="assets/download.jfif">
    </span>
   </p>
</div >
</mat-card>

<div class="container">
<div class="row-wrapper">
<ul>
  <a class="mario0"><mat-icon style="color:#5BAEF3">looks_one</mat-icon>  CHECK HARDWARE</a>
  <a class="mario1"><mat-icon class="joy">looks_two</mat-icon>  ACADEMIC LOGIN</a>
   <a class="mario1"><mat-icon  class="joy">looks_3</mat-icon>  FACE ID</a>
  <a class="mario1"><mat-icon  class="joy">looks_4</mat-icon>  START EXAM</a>
  </ul>
  <ul class="align">
  <li class="hai"> <mat-icon class="timer">timer</mat-icon>Exam Starts In</li>
  <li class="boy">02 HR : 45 MIN : 30SEC</li> </ul>


</div>
</div>

<table>
  <thead>
    <th><h2>Remote Exam Check If Your Hardware Is Ready</h2>
    <button type="button">NEXT <mat-icon style="font-size: 15px; margin-top:5px;">arrow_forward</mat-icon></button></th>
  </thead>
  <tbody>
    <div class="container-sm">
    <mat-icon style="margin:10px 10px;">wifi</mat-icon>Check Internet Speed -
      <span style="font-weight: normal; color: black;">Minimun Required Speed 2Mbps</span>
   </div>
   <div class="container-sm">
   <mat-icon style="margin:10px 10px;">mic</mat-icon>Check Microphone
   </div>
   <div class="container-sm">
    <mat-icon style="margin:10px 10px;">photo_camera</mat-icon>Check Camera
    </div>
    <div class="container-sm">
      <mat-icon style="margin:10px 10px;">volume_up</mat-icon>Check Speaker
      </div>
  </tbody>
</table>

<div class="footer">
  <p style="text-align: center; color:#3e95ef ; margin-top: 45px;">@2020, Digival IT Solutions, UAE. All rights reserved | Version v1.0</p>
</div>
</body>